/* ~~ CSS3 backgrounds~~ */

body.css-backgrounds{
    background-image: url(../images/a.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

footer, header {
    background: rgba(0, 0, 0, 0.9);
}

.multiple-background{
      width:320px;
      height:320px;
      background: url(../images/b.jpg) left top no-repeat, url(../images/a.jpg) right bottom no-repeat, url(../images/d.jpg) left top no-repeat , url(../images/c.jpg) right top no-repeat;
      background-size: 150px, 180px, auto;
  }

.multiple-background p{
    color:white;
    font-size: 36px;
    margin-top:25%;
    margin-left:10%;
    text-align: center;
}

.border-background{
    width:320px;
    height:320px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/c.jpg) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/d.jpg) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../images/a.jpg) 30 stretch;
    border-radius: 100%;

    background-image: url(../images/b.jpg), url(../images/c.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
}

.shape{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid black;
}

.css-backgrounds .flex-item{
    flex-direction: column;
}



@media only screen and (min-device-width : 860px) and (max-device-width : 1400px){

}

@media only screen and (min-device-width : 1401px){

}

