/* ~~ CSS3 Animations~~ */
figure {
}

article.css-animations {
    flex-direction: column;
}

div.css-animations {
    flex-wrap: wrap;
}

/*zoom image*/
.zoomimages figure img {
    height: 250px;
    width: auto;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.zoomimages figure img:hover {
    transform: scale(1.5);
}

/*Zoom in*/
.zoomimagesin figure:hover img {
    transform: scale(1.3);
}
.zoomimagesin figure {
    overflow: hidden;
    width: 273px;
    height: 273px;
}
.zoomimagesin img {
    transition: all 2s ease;
    transition: all 2s ease;
    max-width: 435px;
}

/*Zoom out*/
.zoomimagesout figure:hover img {
    -webkit-transform:scale(1);
    transform:scale(1);
}
.zoomimagesout figure{
    overflow:hidden;
    width:200px;
    height:150px;
}
.zoomimagesout img {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}



/**Keyframe animation example loading cycle**/
.loading-cycle {
    margin-left: 20px;
    width: 26px;
    height: 26px;
    border: 4px solid white;
    border-top-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
    border-radius: 17px;
    animation: spinnLeft 2s linear infinite;
}

.loading-cycle > div {
    width: 14px;
    height: 14px;
    margin: 2px auto;
    border: 4px solid white;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    border-right-color: rgba(0, 0, 0, 0.8);
    border-left-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    animation: spinnRight 2s linear infinite;
}

@keyframes spinnLeft {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spinnRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

/**Keyframe animation example ticker**/
.masc {
    margin-left: 20px;
    position: relative;
    width: auto;
    height: 48px;
    border: 2px solid black;
    background: #eee;
    overflow: hidden;
    padding-top: 3px;
}

.typo-band {
    font-size: 1.5em;
    position: relative;
    width: auto;
    height: 48px;
    background: #eee;
    overflow: hidden;
    animation: infinite-band 13s linear infinite;
    padding-top: 3px;
}

@keyframes infinite-band {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}


/**Keyframe animation example changing background**/
.changingimages{
    margin-left: 20px;
    animation: backgroundchange 9s ease-in infinite;
    width: 917px;
    height: 433px;
}
@keyframes backgroundchange {
    0% {
        background-image:url("../images/a.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    25% {
        background-image:url("../images/b.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    50% {
        background-image:url("../images/c.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    75% {
        background-image:url("../images/d.jpg");
        background-attachment: fixed;
        bacbackgroundchangekground-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    90% {
        background-image:url("../images/a.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    100% {
        background-image:url("../images/b.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}



/**Keyframe animation example changing Hintergrundfarbe **/
body {
    animation: bgColorChange 6s ease-in-out infinite;
}
@keyframes bgColorChange {
    0% {
        background: #ed4144;
    }
    20% {
        background: #62ed33;
    }
    50% {
        background: #fbed1a;
    }
    80% {
        background: #43b2ed;
    }
    100% {
        background: #ed4144;
    }
}

footer {
    background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
}


@media only screen and (min-device-width : 860px) and (max-device-width : 1400px){
    /**Keyframe animation example changing background**/
    .changingimages{
        width: 784px;
        height:550px;
    }
}

@media only screen and (min-device-width : 1401px){
    /**Keyframe animation example changing background**/
    .changingimages{
        width: 1412px;
        height: 850px;
    }
}

