
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

/*HTML TAGS */
html, body{
	height:100%;		
}

body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	font-weight:normal;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

h1{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
}

a img { 
	border: none;
}

a:link {
	color: #999999;
	text-decoration: underline;
}
a:visited {
	color: #333333;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

nav{
	float:right;
	width: 236px;
}


nav ul {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
	float: right;
}
nav ul li {
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	float:left;
}
nav ul li a, nav ul li a:link, nav ul li a:visited { 
	padding: 23px 5px 5px 15px;
	display: block; 
	width: 97px;
	text-decoration: none;
	background: #000000;
	color:#ffffff;
	height: 66px;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	background: #ADB96E;
	color: #FFF;
}
/*END html tags */

#main {
	width: 80%;
	height:auto;
	min-height:100%;
	padding: 60px 3%;
	box-sizing: border-box;
	background: #FFFFFF;
	margin: 0 auto; 
}


/* ~~ Fußzeile und Header ~~ */
footer, header {
	padding: 10px 0;
	background: #CCC49F;
	position: relative;/* Liefert "hasLayout" für Internet Explorer 6, zum korrekten Rücksetzen der
	schwebenden Ausrichtung. */
	clear: both;
}
footer{
    	z-index:1;
}
.footer-elements, .header-elements{
	width:80%;
	margin: 0 auto;
	height: 190px;
}

header, section, footer, aside, nav, article, figure {
	display: block;
	box-sizing:border-box;
}

article{
    width:80%;
	display:inline;
}
aside{
	width:20%;
	position:fixed;
	right:13%;
	top: 270px;
	z-index:3;
	background: black;
	color:white;
	padding: 20px;
	box-shadow: 5px 5px 5px black;
}

aside a, aside a:link, aside a:visited{
	color:white;
	text-decoration:none;
	box-sizing:border-box;
	text-shadow: 5px 5px 5px rgba(255, 0, 0, .8);
}


#logo{
	float:left;
}

details{
	margin: 20px 0;
}

/*columns Flex*/
.container{
	column-count:3;
	column-gap:20px;
	column-rule: 1px dotted grey;
	/*
	column-count
	column-rule-style
	column-rule-width
	column-rule-color
	column-rule
	column-span
	column-width
	*/
	margin-bottom: 40px;
}

.flex-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: lightgrey;
	margin-bottom: 40px;
}

.flex-item {
    background-color: cornflowerblue;
    width: 33%;
    margin: 10px;
}


.container-grid{
	
}

.container-grid div:first-child{
	border: 1px solid blue;
	border-radius: 10px;
}

.container-grid div:nth-child(2){
	border: 1px solid yellow;
	border-radius: 10px;
}

.container-grid div:nth-child(3){
	border: 1px solid green;
	border-radius: 10px;
}

aside.columns-page{
	width:100%;
	position:relative;
	right:auto;
	top: auto;
}



/* form styles*/
:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

input {
	  border:1px solid #ccc;
	  font-size:20px;
	  width:300px;
	  min-height:30px;
	  display:block;
	  margin-bottom:15px;
	  margin-top:5px;
	  outline: none;
	  -webkit-border-radius:5px;
	  -moz-border-radius:5px;
	  -o-border-radius:5px;
	  -ms-border-radius:5px;
	  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}




/*responsive*/
/* Portrait and Landscape */
@media (min-device-width: 300px) and (max-device-width: 480px)
 {
	  
	#logo img{
		width: 130px;
	}
	
	aside{
	width:100%;
	position:relative;
	right:auto;
	top:auto;
	padding: 10px;
	box-shadow: 2px 5px 2px black;
	}
}


@media (min-device-width: 480px) and (max-device-width: 600px)
 {
	aside{
	width:80%;
	margin: 0 auto;
	position:relative;
	right:auto;
	top:auto;
	padding: 10px;
	box-shadow: 5px 10px 5px black;
	}
 }


