@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

/*HTML TAGS */

html, body, main {
    /*height:100%;*/
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background: rgba(0,0,0,0.6);
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

header, section, footer, aside, nav, article, div {
    display: flex;
    box-sizing: border-box;
}

header {
    opacity: 0.1;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2 {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3em;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
}

a img {
    border: none;
}

a:link {
    color: #999999;
    text-decoration: underline;
}

a:visited {
    color: #333333;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
}

nav ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    border-top: 0px solid #666;
    margin-bottom: 15px;
    flex-wrap: wrap;
    /*transition-delay: 2s;*/
    transition-duration: 0.5s;
    transition-property: all;
}

nav ul li {
}

nav ul li a, nav ul li a:link, nav ul li a:visited {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    min-height: 28px;
    align-items: center;
}

nav ul li a, nav ul li a:link, nav ul li a:visited {
    padding: 10px;
    font-size: 1.2em;
}

nav ul ul li a, nav ul ul li a:link, nav ul ul li a:visited {
    padding: 5px 10px;
    font-size: 1em;
}

nav ul ul li:nth-child(5), nav ul ul li:nth-child(6), nav ul ul li:nth-child(7), nav ul ul li:nth-child(8), nav ul ul li:nth-child(9), nav ul ul li:nth-child(10) {
    border-left: 1px white dotted;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus, nav ul li.active a, nav ul li.active a:link, nav ul li.active a:visited {
    background: #ADB96E;
    color: #FFF;
}

nav ul ul {
    position: relative;
    top: -600px;
    opacity: 0;
}

nav ul ul li {
    width: 190px;
}

nav ul:hover ul, nav ul:focus ul {
    opacity: 1;
    top: 0px;
}

main {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 98%;
    justify-content: center;
    margin-top: 190px;
    /*width: 100vw;
    position: relative;
    margin-left: -50vw;

    left: 50%;*/
}

/* ~~ Fußzeile und Header ~~ */
footer, header {
    /*background: black;*/ /* rgba(0,0,0,0.3); */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 200px;
}

.header-elements {
    height: 200px;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 45px;
}

article.topBereich {
    display: flex;
    flex-direction: column;
}
article.topBereich ol {
    padding-left: 40px;
}

article.video-demo {
    justify-content: space-around;
    align-items: center;
}

aside {
    background: black;
    color: white;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    width: 98%;
    justify-content: center;
    margin-bottom: 76px;
}

aside a, aside a:link, aside a:visited {
    color: white;
    text-shadow: 5px 5px 5px rgba(140, 140, 140, 0.8);

}

img {
    max-width: 100%;
    height: auto;
}

/*END html tags */

#logo {
}

.footer-elements {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding: 20px;
    flex-basis: 100%;
    border-bottom: 1px dotted cornflowerblue;
}

.flex-item:last-child {
    border: none;
}

.video {
    position: relative;
    padding: 20px;
    flex-basis: 100%;
    justify-content: center;
    max-width: 100%;
}

#videocover, #videocover-two {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*responsive*/
/* Portrait and Landscape */
@media (min-device-width: 780px) {

    main{
        width: 80%;
    }
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: 100%;
        align-content: center;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    article.video-demo {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-item {
        width: 30%;
        flex-basis: 100%;
        border-bottom: none;
        border-right: 1px dotted cornflowerblue;
    }


    article.video-demo {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        align-content: center;
        align-items:center;
        margin-bottom: 45px;
    }

    aside {
        width: 80%;
    }
}

@media (min-device-width: 1421px) {
}