@import url('https://fonts.googleapis.com/css?family=Days+One|Gloria+Hallelujah');


/* body fuer alles !*/
body{
    font-family: Arial, Verdana;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* kopiert aus F12 Chrome */
article, footer, header, nav, section {
    display: block;
}
footer {
    /* sonst ist der footer im aside block rechts drin*/
    clear: left;
    padding: 20px;
}

/* main lieber nicht verwenden! IE 11 kommt damit nicht klar, lieber <div id="main"> */
main {
    background-color: rgba(198, 213, 128, 0.43);
    border: 2px solid yellowgreen;
    /* SCHATTEN
    box-shadow: 10px 5px 5px #5f5f5f;
    */

    display: block;
    float: left;
    width:60%;

    /*
    min-width:100px;
    max-width:1200px;
    */
    margin-top:0;
    margin-right:auto;
    margin-left:10%;
    margin-bottom: 0;
    /* das padding vergroessert die widht von oben!! */
    /* orul */
    padding:20px;
    /* die border-box verhindert die Vergroesserung beim Padding! */
    box-sizing: border-box;
}

aside {
    display: block;
    float: right;

    width:20%;

    position: fixed; /* wie absolute */
    right: 5%;
    /*
    bottom: 0%;
    height: 80%;
    */

    background: #95b1a9;
    /* orul */
    padding: 5px 2px 2px 15px;
    margin-top: 5px;
    /* die border-box verhindert die Vergroesserung beim Padding! */
    box-sizing: border-box;

    /* schatten */
    box-shadow: 10px 5px 5px #5f5f5f;

    font-family: 'Gloria Hallelujah', cursive;
}
aside ul {
    margin: 0; /* chrome macht bei listenelementen oben ein rand, hiermit entfernen! */
    /* orul */
    padding: 0px 0px 5px 5px;
}
aside li {
    /* orul */
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}
aside a {
    text-shadow: 5px 5px 5px white;
    text-decoration: none;

}


p{
    color: saddlebrown;
    font-size: 13px;
}

h2,h3,h4,h5{
    color: #4c8b2b;
    font-family: 'Days One', sans-serif;
}
h1{
    color: #286609;
    font-size: 28px;
    font-family: 'Days One', sans-serif;
}

header {
    background-color: lightgray;
    height: 110px;
}
/*  zugriff auf Class mit Punkt */
.header-elements {
    width:80%;
    /* orul */
    margin: 0 auto 0 auto;
}

section {
    background-color: #C6D580;
}



article {
    background-color: rgba(153, 213, 177, 0.43);
    /* das padding vergroessert die widht von oben!! */
    /* orul */
    padding: 10px 20px 10px 20px;
    /* die border-box verhindert die Vergroesserung beim Padding! */
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}



nav ul {
    list-style-type: none;
    margin: 0; /* chrome macht bei listenelementen oben ein rand, hiermit entfernen! */
}
nav li {
    float: left;
    /* orul */
    padding: 5px 15px 5px 5px;
    background: #5f5f5f;
    color:#FFF;
}
nav li a{
    color:#FFF;
}

/* muss nicht mit DIV angesprochen werden, kann
 direkt auf die ID losgehen */
#logo {
    float: left;
/*
    position: fixed;
    left: -14px;
    */
}


/* der IE zeigt bei a tags auf images einen unschoenen Rand */
img {
    border: none;
}





/* responsive BREAKPOINTS mit Media Queries */
/* ------  spezial, falls device zu klein und die Seite schlecht aussieht --------  */
/* kann man gut mit Chrome Testen - iphone oder responsive simulieren, rechts obeb "show device frame" auswaehlen */
@media (min-device-width: 30px) and (max-device-width: 380px ){

    #logo img {
        width: 50px;
        height: auto;
    }

    aside {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
    }

    /* ------------------------------------------------- */
    /* Spalten  fuer kleine geraete                      */
    /* ------------------------------------------------- */
    .spalten {
        column-count: 1;
    }

}
@media (min-device-width: 381px) and (max-device-width: 500px ){

    #logo img {
        width: 250px;
        height: auto;
    }

    aside {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
    }
}



/* ------------------------------------------------- */
/* formular                                          */
/* ------------------------------------------------- */
:required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

/* formular elemente mit flex positionieren */
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
}

.form-element-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;  /* damit richtet sich das Input Feld dem Label an */
    margin-bottom: 7px;
}

.names input {
    font-weight: bold;
}

label {
   /* width: 100%;*/
}

label, input {
    width: 48%;
    flex-basis: auto;
}

input [type=submit] {
    width: 99%;
}

fieldset {
    margin-bottom: 15px;
    /*
    border: none;
    */
}

.superout {
    width: 150px;
}

/*
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:20px;
    width: 100%;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;
}

input[type=submit] {
    background:none;
    background-color: #7ebbec;
    padding:10px;
}

.names input {
    font-weight: bold;
}

fieldset {
    margin-bottom: 15px;
}
*/


/* ------------------------------------------------- */
/* Spalten  fuer Browser (gross)                     */
/* ------------------------------------------------- */
.spalten {
    column-count: 3;
    column-gap: 20px; /* Abstand zwischen den Spalten */
    column-rule: 1px dotted gray;  /* Trenner zwischen den Spalten |  */
    margin-bottom: 30px;
    column-width: 150px;
}

.spalten::selection {
    background: yellow;
}